@import '../../assets/scss/colors';

$header-text-spacing: 2px;
$subheader-text-spacing: 1px;

h1 {
    color: $font-color;
    letter-spacing: $header-text-spacing;
}
h2,h3{
    letter-spacing: $subheader-text-spacing;
}