<div class="container">
  <!--Politician profile card-->
  <div class="row equal">

    <!--Politician image-->
    <div class="col-sm-4">
      <img [src]="Politician.bild_url_192" class="img-fluid" alt="">
    </div>

    <!--Politician general info-->
    <div class="col-sm-8">

      <div class="row">
        <div class="col">
          <h1>{{Politician.tilltalsnamn}} {{Politician.efternamn}}</h1>
          <h3>{{Politician.status}}</h3>
          <h3>{{Politician.parti}}</h3>
        </div>
      </div>

      <div class="row politician-info">
        <!--Politician contact info-->
        <div class="col">
          <ul>
            <li><strong>Email</strong><span>{{Politician.tilltalsnamn}}.{{Politician.efternamn}}@riksdagen.se</span></li>
            <li><strong>Website</strong><span>www.riksdagen.se</span></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <!--Politician image links (facebook,twitter etc)-->
  <div class="row politician-links text-center">
    <div class="col">
      <a><img class="">tw</a>
      <a><img class="">fa</a>
      <a><img class="">li</a>
      <a><img class="">g+</a>
      <a><img class="">in</a>

    </div>
  </div>
</div>